// This file defines variables for the Feb12 theme.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// Colors
// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;
// scss-docs-end gray-colors-map


$blue:    #124987; // #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #E60032; // #ff0039 Updated for Tiki to meet WCAG color contrast guidelines
$orange:  #f0ad4e !default;
$yellow:  #C75000; // #ff7518 Updated for Tiki to meet WCAG color contrast guidelines
$green:   #2F8712; // #3fb618 Updated for Tiki to meet WCAG color contrast guidelines
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$green-300: tint-color($green, 40%) !default; // Bootstrap 53
$red-300: tint-color($red, 40%) !default; // Bootstrap 53

$primary: #3071a9;
$secondary: #ddd;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$light: #fff;
$dark: #000;

$theme-colors: (
     "primary":     #3071a9,
     "secondary":   #dddddd,
     "success":     #5cb85c,
     "info":        #5bc0de,
     "warning":     #f0ad4e,
     "danger":      #d9534f,
     "light":       #ffffff,
     "dark":        #000000
);

// Options
$prefix:         bs-;

$enable-gradients:          true;
$enable-negative-margins:     true;

// Spacing

// Body
$body-bg: #e6f3f6;
$body-color: $gray-700;

// Links
$link-color: $primary;
$link-hover-decoration: none;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Components
$component-active-bg: #5bacd7;

// Fonts
$font-family-sans-serif: "Trebuchet MS", "Tahoma", sans-serif;
$headings-font-weight: 700;
$headings-color: #93554a;
$blockquote-footer-color: #4D4D4D;

// Tables
// Buttons
$btn-primary: yellow; /// $primary;

// Forms
// Form validation
$form-feedback-valid-color: #388038;
$form-feedback-invalid-color: #D1332E;

// Dropdowns
$dropdown-color: #fff;
$dropdown-header-color: #d0cece;
$dropdown-link-color: #fff;
$dropdown-bg: #4d90bd;
$dropdown-link-hover-bg: darken($dropdown-bg,10%);

$dropdown-dark-color: $dropdown-color;
$dropdown-dark-bg: $dropdown-bg;

// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !default; // Changing this seems to have no effect in top,topbar, or system menu.
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;

// Navbar
///$navbar-dark-color: #ffffff;
$navbar-dark-bg: #426d95;

// Navbar links
$navbar-dark-color:                 rgba($white, .75);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-light-color:                rgba($black, .5); // Used for nav-link in col2 also.
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-dark-hover-bg: transparent;
$navbar-dark-active-color: $navbar-dark-hover-color;
$navbar-dark-active-bg: transparent;

// Navbar light
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$navbar-light-active-color:         rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;
$navbar-bg-light: #3e7ca1;

// Inverted navbar links
//$navbar-link-color: #f5f5f5; obsolete

// Pagination
// Jumbotron
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
$list-group-active-bg: #205886;

// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
$code-color:                       $body-color; //  $pink !default; // Bootstrap 5.3




// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$tiki-topbar-row-margin-bottom: 0;

$tiki-blockquote-left-border-color: #4D4D4D;