// FAQs
.faqlistquestions {
    margin-bottom: 20px;
}

.faqqa {
    margin-bottom: 20px;
}

.faqquestion {
    font-weight: bold;
    padding: 2px 12px 0 12px;
}

.faqanswer {
    padding: 0 12px 4px 12px;
    .faq_answer_prefix { font-weight: bold; }
}

// Polls
.pollresults {
    width: 100%;
}

// Quizzes
.questionblock {
    margin-bottom: 10px;
}

.quizquestion {
    margin-bottom: 5px;
}

.quizdescription {
    margin-bottom: 10px;
}

.quizanswer {
    margin-bottom: 10px;
}

// Surveys
.surveyquestions {
    min-height: 10em;
}

.quizoptions label {
    display: block;
}

.range_container {
    width: 100%;
    margin: 50px auto;
    position: relative;
  }
   .range_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
    background-color: #6c757d;
  }
  
  .range_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
  }
  
  .range_selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
    
  }
  
  .range_selectBtn {
    height: 38px;
    width: 38px;
    background-color: #6c757d;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .range_selectBtn:before {
    content: '';
    height: 50%;
    width: 50%;
    background-color: #0d6efd;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
  }
  
  .range_selectValue {
    width: 38px;
    height: 30px;
    position: absolute;
    top: 20px;
    background: #0d6efd;
    border-radius: center;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -20px;
  }
  
  .range_selectValue::after {
    content: '';
    border-top: 17px solid #0d6efd;
    border-left: 19px solid #fff;
    border-right: 19px solid #fff;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
  
  .range_progressBar {
    width: 50%;
    height: 8px;
    background-color: #0d6efd;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  .range_label {
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 5px;
  }
  
  .range_label:first-child {
    left: 0;
  }
  
  .range_label:last-child {
    right: 0;
  }

.type_option {
    display: none;
}

// Directory
.dircategs {
    font-size: 95%;
}

.dirsublink {
    font-size: .95em;
}

.dirsite {
    margin-bottom: 10px;
    padding: 4px;
}

.dirsitetrail {
    font-size: 95%;
    //    color: $breadcrumb-bg; // lightgray (this and the following moved to _tiki-selectors.scss)

}

.dirsitecats {
    font-size: 95%;
    //    color: $breadcrumb-bg;// lightgray
}

// Kaltura
// Kaltura browse entries
// Remove margins from the image
.kaltura .items img {
    margin: 0;
}

// make A tags our floating scrollable items
.kaltura .items a {
    display: block;
    float: left;
    margin: 20px 15px;
}

// Perspectives (edit)

fieldset.dropzone {
    min-height: 120px;
}

// #resultzone > div:hover {
//     background: $panel-success-heading-bg;
// }

// Tiki new profiles
.profile-left-bar .profile-avatar img {
    margin-bottom: $padding-y;
    max-width: 100%;
}
.profile-left-bar .profile-username {
    font-size: $font-size-lg;
}
.profile-right-bar .profile-buttons .btn {
    width: 100%;
    margin-bottom: ceil($line-height-base * 2);
}
.profile-right-bar button.add-friend {
    width: 100%;
    margin-top: ceil($line-height-base * 2);
}
.profile-tab-content h2{
    margin-top:0;
}
